.app {
  position: absolute;
  text-align: center;
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app .nav{
  height: 3%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  border-radius: 20px;
  overflow: hidden;
}

.app .nav a{
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;
}

.app .nav .active, .app .nav a:hover{
  color: black;
  background-color: whitesmoke;
}


.app .nav a:nth-child(1){
border-right: 1px solid white;
}